@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic&family=Ms+Madi&family=Yellowtail&display=swap');
*{
	margin: 0px;
	padding: 0px;
    box-sizing: border-box;
}
html{
	font-size: 16px;
    font-family: 'BIZ UDGothic';
}
.body__index{
	height: 100vh;
	display: grid;
	/* gap: 5px; */
	grid-template-columns: 1.7fr 0.3fr;
  	grid-template-rows: 0.2fr 2.6fr 0.2fr;
	grid-template-areas:
	"header header"
	"main aside"
	"footer footer";
}
header{
	grid-area: header;
	background-color: rgba(93, 89, 89, 0.543);
	background: linear-gradient(0deg, rgb(10, 10, 10) 0%, rgb(197, 189, 189) 90%);
    display: flex;
}
.nav__conteiner{
    display: flex;
    align-items: center;
	justify-content: center;
}
.links{
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    letter-spacing: 5px;
	text-shadow: rgb(75, 75, 75) -0.1em 0.1em 0.1em;
}
.header__nav .ul__index li{
    display: inline-block;
}
.header__nav .ul__index li a{
    padding: 0.5rem 1rem;
    transition: all 1s;
    border-radius: 5px;
}
.header__nav .ul__index li a:hover {
    background: rgba(204, 204, 204, 0.516);
}
.main__index{
	grid-area: main;
	background-image: url("../asset/imagenes/1.jpg");
	background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.titulo__index{
    color: white;
    font-size: 4rem;
    padding-bottom: 1em;
    text-shadow: rgb(94, 93, 93) -0.1em 0.1em 0.1em;
    letter-spacing: 0.2em;
    font-family: 'Yellowtail';
}
.p__index{
    color: white;
    font-size: 2rem;
    line-height: 2.5em;
    font-weight: bolder;
    text-shadow: rgb(94, 93, 93) -0.1em 0.1em 0.1em;
    margin-left: 15px;
}
.aside__index{
	grid-area: aside;
	background-image: url(../asset/imagenes/11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
	box-shadow: 0 8px 8px 0 rgba(75, 75, 75);
	border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.h2__index{
    color: white;
    text-shadow: rgb(75, 75, 75) -0.1em 0.1em 0.1em;
	text-align: center;
    padding-bottom: 10px;
}
.p__aside__index{
    color: white;
    text-shadow: rgb(75, 75, 75) -0.1em 0.1em 0.1em;
    font-weight: bolder;
	text-align: center;
    padding-bottom: 10px;
}
.link__product{
    display: flex;
    justify-content: center;
    padding-top: 15px;
}
footer{
	grid-area: footer;
	background-color: rgba(93, 89, 89, 0.543);
	background: linear-gradient(0deg, rgb(10, 10, 10) 0%, rgb(197, 189, 189) 90%);
	display: flex;
	align-items: center;
	justify-content: center;
}
.p__footer{
    color: white;
    text-shadow: rgb(120, 120, 120) -0.1em 0.1em 0.1em;
	font-size: 1.2rem;
}
/* ACÁ TERMINA EL INDEX */
/* ACÁ COMIENZA PRODUCTOS */
.body__productos{
	height: 100vh;
	display: grid;
    grid-template-columns: 0.8fr 1.1fr 1.1fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
	grid-template-areas:
    "header header header"
    "filter galleryconteiner galleryconteiner"
    "footer footer footer";
	background-image:url("../asset/imagenes/24.jpg");
    background-repeat: no-repeat;
    background-position: center;
	background-size: cover;
}
.main__products{
	grid-area: filter;
	background-color: rgba(210, 210, 210, 0.25);
}
.gallery__container{
    grid-area: galleryconteiner;
    display: grid;
}
.gallery__img{
    width: 50%;
    height: 100%;
    object-fit: cover;
}
.gallery__item1{
    grid-gap: 10px;
    position: relative;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.gallery__item2{
    grid-gap: 10px;
    position: relative;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
.gallery__item3{
    grid-gap: 10px;
    position: relative;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
.gallery__item4{
    grid-gap: 10px;
    position: relative;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}
.gallery__tittle{
    position: absolute;
    bottom: 0;
    font-weight: bolder;
    text-shadow: rgba(255, 255, 255, 0.45) -0.1em 0.1em 0.1em;
}
.titulo__productos{
	text-align: left;
    font-weight: bolder;
    font-family: 'BIZ UDGothic';
	text-shadow: rgba(255, 255, 255, 0.45) -0.1em 0.1em 0.1em;
	padding: 10px;
}
.fakeh3{
    font-weight: bolder;
    font-size: larger;
    text-shadow: rgba(255, 255, 255, 0.25) -0.1em 0.1em 0.1em;
    padding-left: 5px;
}
.p__p{
    font-weight: bolder;
    text-shadow: rgba(255, 255, 255, 0.25) -0.1em 0.1em 0.1em;
    margin-left: 10px;
}
/* ACÁ TERMINA PRODUCTOS
ACÁ ARRANCA PÁGINA FERNETODOLOGÍA */
.fernetodologia__body{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
.main__fernetodologia{
    grid-area: main;
}
.contenedor1{
    grid-area: div1;
    background-image: url("../asset/imagenes/21.jpg");
    background-repeat:no-repeat;
    background-position: center;
	background-size:100% 100%;
    height: 50%;
}
.contenedor2{
    grid-area: div2;
    background-image: url("../asset/imagenes/14.jpg");
    background-repeat: no-repeat;
    background-position: center;
	background-size:100% 100%;
    height: 50%;
}
.titulo__fernetodologia{
    width: 100%;
    text-align: left;
    font-weight: bolder;
    font-family: 'BIZ UDGothic';
    font-size: 3em;
    text-shadow: rgba(255, 255, 255, 0.45) -0.1em 0.1em 0.1em;
    background-color: rgba(210, 210, 210, 0.40);
}
.second__tittle{
    font-weight: bolder;
    font-family: 'BIZ UDGothic';
    font-size: 2em;
    text-shadow: rgba(255, 255, 255, 0.45) -0.1em 0.1em 0.1em;
    background-color: rgba(210, 210, 210, 0.40);
}
.data1__fernetodologia{
    font-weight: bolder;
    text-shadow: rgba(255, 255, 255, 0.45) -0.1em 0.1em 0.1em;
    font-size: 1rem;
    color: black;
    text-align: start;
    background-color: rgba(210, 210, 210, 0.40);
    width: 40%;
    line-height: 25px
}
.data2__fernetodologia{
    font-weight: bolder;
    text-shadow: rgba(255, 255, 255, 0.45) -0.1em 0.1em 0.1em;
    font-size: 1rem;
    color: black;
    text-align: start;
    background-color: rgba(210, 210, 210, 0.40);
    width: 40%;
    line-height: 25px;
}
/* ACÁ TERMINA FERNETODOLOGÍA
ACÁ EMPIEZA FERNESIS */
.body__fernesis{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 2.4 0.2fr;
    grid-template-areas:
    "header"
    "tittle"
    "img"
    "footer";
}
.tittle__fernesis{
    grid-area: tittle;
    background-color: rgb(221, 221, 221);
}
.t__principal{
    color: black;
    font-size: 4rem;
    text-shadow: rgb(94, 93, 93) -0.1em 0.1em 0.1em;
    letter-spacing: 0.2em;
    font-family: 'Yellowtail';
    text-align: center;
}
.f__subtittle{
    color: black;
    font-size: 2rem;
    text-shadow: rgb(94, 93, 93) -0.1em 0.1em 0.1em;
    letter-spacing: 0.5em;
    font-family: 'BIZ UDGothic';
    text-align: center;
    padding: 5px;
}
.fernesis1{
    grid-area: img;
    height: 25%;
    background-color: grey;
}
.fernesis2{
    grid-area: img;
    height: 25%;
    background-color: rgb(116, 116, 116);
}
.fernesis3{
    grid-area: img;
    height: 25%;
    background-color: rgb(105, 105, 105);
}
.fernesis4{
    grid-area: img;
    height: 25%;
    background-color: rgb(94, 94, 94);
}
.fernesis5{
    grid-area: img;
    height: 25%;
    background-color: rgb(78, 78, 78);
}
.f__img1{
    height: 250px;
    width: 250px;
    border-radius: 25px;
    padding: 20px;
    float: left;
}
.t__secundario1{
    font-size: 3em;
    vertical-align: text-top;
    padding: 10px;
    text-shadow: rgb(190, 190, 190) -0.1em 0.1em 0.1em;
}
.f__p1{
    font-size: 2em;
    vertical-align: text-top;
    padding: 10px;
    text-shadow: rgb(190, 190, 190) -0.1em 0.1em 0.1em;
}
.f__img2{
    height: 250px;
    width: 250px;
    border-radius: 25px;
    padding: 20px;
    float: right;
}
.t__secundario2{
    font-size: 3em;
    padding: 10px;
    text-align: right;
    text-shadow: rgb(190, 190, 190) -0.1em 0.1em 0.1em;
}
.f__p2{
    font-size: 2em;
    padding: 10px;
    text-align: right;
    text-shadow: rgb(190, 190, 190) -0.1em 0.1em 0.1em;
}

/* @media all and (min-width: 320px) {
    .fernesis__conteiner {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media all and (min-width: 768px) {
    .fernesis__conteiner {
        grid-template-columns: repeat(3, 1fr);
    }
}
  @media all and (min-width: 1024px) {
    .fernesis__conteiner {
        grid-template-columns: repeat(6, 1fr);
    }
}
.grid-gallery__item:nth-child(11n+1) {
    grid-column: span 1;
}
.grid-gallery__item:nth-child(11n+4) {
    grid-column: span 2;
    grid-row: span 1;
}
.grid-gallery__item:nth-child(11n+6) {
    grid-column: span 3;
    grid-row: span 1;
}

.grid-gallery__item:nth-child(11n+7) {
    grid-column: span 1;
    grid-row: span 2;
}
.grid-gallery__item:nth-child(11n+8) {
    grid-column: span 2;
    grid-row: span 2;
}
.grid-gallery__item:nth-child(11n+9) {
    grid-row: span 3;
}
 .grid-gallery__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */
/* ACÁ TERMINA FERNESIS
ACÁ COMIENZA CONTACTANOS */
.body__contactanos{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 2.6fr 0.2fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}
.main__contactanos{
    grid-area: main;
    background-image: url(../asset/imagenes/9.jpg);
    background-repeat: no-repeat;
    background-position: center;
	background-size: 100% 100%;
}
.box__form{
    display: flex;
    justify-content: center;
}
.form__contacto{
    border: 1px solid #E1E1E1;
    background-color: rgba(245, 245, 220, 0.509);
    border-radius: 5px;
    padding: 15px;
    text-align: center;
}
input::placeholder{
    font-size: 1.2em;
}
textarea{
    font-size: 1em;
}
.letter__contacto{
    font-size: 20px;
    text-shadow: rgb(255, 255, 255) -0.1em 0.1em 0.1em;
}